export("fdiscgammagpd")
export("qdiscgammagpd")
export("rdiscgammagpd")
export("ddiscgammagpd")
export("pdiscgammagpd")
export("fdesponds")
export("JS_desponds")
export("JS_spliced")
export("clusterPlot")
export("parseFile")
export("parseFolder")
import("cubature")
import("evmix")
import("magrittr")
import("dplyr")
import("truncdist")
import("purrr")
import("VGAM")
