export("fdiscgammagpd")
export("qdiscgammagpd")
export("rdiscgammagpd")
export("ddiscgammagpd")
export("pdiscgammagpd")
export("fdesponds")
export("get_nllh")
export("get_mle")
export("JS_desponds")
export("JS_spliced")
export("JS_dist")
export("clusterPlot")
export("parseFile")
export("parseFolder")
import(cubature)
importFrom(evmix, fgpd, dgpd, pgpd, qgpd, rgpd)
import(magrittr)
import(methods)
importFrom(purrr, map)
import(stats)
importFrom(tcR, parse.file, parse.folder)
import(truncdist)
import(VGAM, except=c(dgpd, pgpd, qgpd, rgpd))
