export("fdiscgammagpd")
export("qdiscgammagpd")
export("rdiscgammagpd")
export("ddiscgammagpd")
export("pdiscgammagpd")
export("fdesponds")
export("JS_desponds")
export("JS_spliced")
export("clusterPlot")
export("parseFile")
export("parseFolder")
import(cubature)
importFrom(evmix, fgpd, dgpd, pgpd, qgpd, rgpd)
import(magrittr)
import(methods)
importFrom(purrr, map)
import(stats)
import(truncdist)
import(VGAM)
